<div class="header-content home" ng-controller="homeCtrl">
  <div class="databoxes">
    <div class="artists">
      <div class="artist" style="background-image:url('{{img[$index]}}');" ng-repeat="item in artists track by item._id">
        <a class="link" href="/artist/{{item.name}}"></a>
        <h2 href="">{{item.name}}</h2>
      </div>
    </div>
    <div class="songs">
      <div class="song" ng-repeat="item in songs track by item._id">
        <img src="{{img_songs[$index]}}" alt="">
        <a href="/song/{{item._id}}">{{item.title}}</a>
      </div>
    </div>
  </div>
</div>