<div class="header-content" ng-controller="artistsListCtrl">
  <div class="sublayer img"></div>
  <div id="container" class="databoxes">
    <div class="databox" ng-repeat="item in artists">
      <div class="databox-header">
        <h2 class="title"><a href="/artist/{{item.name}}">{{item.name}}</a></h2>
      </div>
      <div class="databox-body">
        <p ng-if="dataExist(item.country)"> from <a href="/artists/country/{{item.country}}">{{item.country}}</a></p>
      </div>
    </div>
    <div class="pag">
      <p>
        <a ng-show="pprev!=-1" href="/songs/{{pprev}}"><span>Página anterior</span> <i class="fa fa-arrow-circle-o-left"></i> </a>
        <span>{{page}}</span>
        <a ng-show="pnext!=-1" href="/songs/{{pnext}}"> <i class="fa fa-arrow-circle-o-right"></i> <span> Página siguiente </span></a>
      </p>
    </div>
  </div>
</div>